/*@media screen and (max-width:760px){
    .duo{
        display: flex;
        flex-wrap: wrap;

    }
    
}

@media screen and (min-width:760px) and (max-width:1030px){
    .duo{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
}*/