
.project-description {
  width: auto;
  height: 80px;
  flex-grow: 1;
  margin: 1.5rem;
  overflow: hidden;
  font-size: 48px;
  text-transform: none;
  text-align: left;
  letter-spacing: -4px;
  line-height: 80px;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
}

.project-text {
  color: #0a0a0a;
}

.row {
  display: flex;
  align-items: stretch;
  margin: 1rem;
}

.column {
  flex: 1;
  margin: 5px;
  position: relative;
}

.container-style {
  width: 600px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  background-color: rgb(233, 233, 233);
  border-radius: 16px;
  border: 0px;
}

.image-container-style {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url("https://assets.api.uizard.io/api/cdn/stream/241f0bb7-2c13-4b97-ad01-d55152b1731a.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 0px;
}

.project-title {
  font-family: "Krona One";
  font-size: 27px;
  margin: 1.8rem;
}

.project-descripe{
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  color:rgb(201, 201, 201);
  margin: 1.8rem;
}

.custom-container {
  top: 572px;
  left: 808px;
  width: 500px;
  height: 12px;
  z-index: 109;
  margin: 1.8rem;
}

.custom-background {
  width: 535px;
  height: 12px;
  opacity: 1;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
}
.donation-info {
  display: flex;
  justify-content: space-between;
  margin: 1.8rem;
}

.donation-amount {
  display: flex;
  flex-direction: column;
}
.donation-tag{
  font-size: 14px;
  margin-bottom: 0.3rem;
}

@media screen and (max-width:1200px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width:620px) {
  
  html,body{
    overflow-x: hidden;
}

  .project-description{
    font-size: 50px;
    display: flex;
    align-items: center;
    height: 160px;
  }

  .project-text{
    font-size: 40px;
    text-align: center;
  }
  .project-title{
    text-align: center;
  }
  .project-descripe{
    text-align: center;
  }

  /*.custom-background{
    width:inherit;
  }*/

  .container-style{
    width: 100%;
  }

  .image-container-style{
    width: smaller;
  }
 
}

@media screen and (max-width:400px){
  .custom-background{
    width: 250px;
  }
}