.card-main {
  @apply w-80 h-96 bg-white border border-gray-200 rounded-lg shadow flex flex-col justify-between;
}

.card-img-section {
  @apply m-5 p-3 rounded-lg h-[9.3em] w-[16em] mx-auto overflow-visible bg-[#e6e6e6];
}

.card-img {
  @apply rounded-t-lg;
}

.card-text-section {
  @apply px-5 pb-5;
}

.card-title {
  @apply text-xl font-semibold tracking-tight text-gray-900;
}

.card-progress-bar-main {
  @apply flex items-center mt-2.5 mb-5;
}

.card-progress-bar {
  @apply w-full bg-gray-200 rounded-full h-2.5;
}

.progress-bar {
  @apply bg-[#d4ee26] h-2.5 rounded-full w-3/5;
}

.card-money-section {
  @apply flex sm:items-center justify-between sm:flex-row gap-4 flex-col;
}
