.input-field {
  border: none;
  border-bottom: 1px solid black;
}

label {
  @apply font-mulish lg:text-[18px] md:text-[13px];
}

.title-input::placeholder {
  font-size: 15px;
  font-family: Mulish;
  font-weight: 500;
}

input {
  @apply md:w-[70%] lg:w-auto;
}

.nice-dates-navigation,
.nice-dates-day {
  color: #111;
}

.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}

.calendar-modal {
  position: fixed;
  top: 35%;
  right: 30%;
  z-index: 10;
  border-radius: 8px;
}

.confirm-button {
  background-color: rgb(212, 238, 38);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-left: 11px;
  width: 90%;
  @apply rounded-md
}

.confirm-button button {
  width: 100%;
  border: none;
  background-color: rgb(212, 238, 38);
  color: black;
  border-radius: 15px;
}

.react-datepicker__header {
  background-color: #111;
  color: white;
}

.custom-calendar {
  background-color: #111;
  color: white;
  font-weight:bold;
}

.react-datepicker__day {
  color: white;
  font-weight:bold;
}

.react-datepicker__day-name {
  color: white;
  font-weight:bold;
}

.react-datepicker__current-month {
  color: white;
  font-weight:bold;
}

.react-datepicker__day--selected-start,
.react-datepicker__day--selected-end,
.react-datepicker__day--in-range {
  background-color: rgb(212, 238, 38) !important;
  color: black;
}

.react-datepicker__day--in-selecting-range {
  background-color: rgba(212, 238, 38, 0.5) !important;
}

.react-datepicker__day:hover {
  background-color: rgb(212, 238, 38); 
  color: black; 
  cursor: pointer;
}


